.friendsImg {
  width: 100px;
}
.friendsName {
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 24px;
}
.friendsStat {
  text-align: center;
  margin: 0;
  font-size: 20px;
}
.isOnline {
  color: green;
}

.isOfline {
  color: orangered;
}
