.container {
  padding: 20px;
  background-color: #121212; /* Темний фон */
  color: #ffffff; /* Білий текст */
}

.review {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #1e1e1e; /* Темний фон для відгуків */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Тінь */
}

.author {
  font-size: 1rem;
  font-weight: bold;
  color: #f5a623; /* Акцентний колір */
  margin-bottom: 5px;
}
