.container {
  padding: 20px;
  background-color: #121212;
  color: #ffffff;
}
.infoText {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffffff; /* Білий текст */
}
.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #ffffff;
}

.input::placeholder {
  color: #757575;
}

.button {
  padding: 10px 20px;
  background-color: #f5a623;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ffa726;
}
