.container {
  padding: 20px;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
}

.link {
  color: #f5a623;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #ffa726;
}
